---
layout: base
title: Home
libs:
  - d3
---
<div class="row">
  <div class="columns small-12">
    <h3>Projects</h3>
    {% assign projects = site.data.projects %}
    {% for project in projects %}
    <h4><a href="{{ project.link }}">{{ project.name }}</a> <small>{{ project.time }}</small></h4>
    <p>
      Links: 
      <a target="_blank" href="{{ project.link }}">App</a>
      {% if project.github %} | <a target="_blank" href="{{ project.github }}">Github</a>{% endif %}
    </p>
    <p>{{ project.description }}</p>
    <p>Features</p>
    <ul>
      {% for feature in project.features %}
      <li>{{ feature }}</li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="columns small-12">
    <h3>Past Experience</h3>
    {% assign jobs = site.data.jobs %}
    {% for job in jobs %}
      <div class="job">
        <h5>{{ job.company }} <small>{{ job.title }}</small></h5>
        <div class="text-right">{{ job.start | date: '%b %Y' }} - {{ job.end | date: '%b %Y'}}</div>
      </div>
    {% endfor %}
  </div>
</div>
