---
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body data-spy="scroll" data-offset="0" data-target="#nav">

	{% include header.html %}

	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-12">
					<h1>Louis Servant</h1>
					<h3>Web Designer | iOS Developer</h3>
				</div><!--/.col-lg-12 -->
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/.#headerwrap -->

	<section id="work" name="work"></section>
	<br>
	<!--PORTFOLIO DESCRIPTION -->
	<div class="container desc">
		<div class="row">
			<div class="col-lg-2 col-lg-offset-1">
				<h5>PORTFOLIO</h5>
			</div>
			<div class="col-lg-2">
				<p><a href="http://mgw.us/lse" target="_blank"><img class="img-responsive" src="assets/img/bsLogosm.png" srcset="assets/img/bsLogo.png 2x" alt="BattleSweeper Logo"></a></p>
			</div>
			<div class="col-lg-7">
				<p><a href="http://mgw.us/lse" target="_blank">BATTLESWEEPER</a></p>
				<ul>
					<li>Compete against your friends or a challenging AI!</li>
					<li>Capture more flags than your opponent by crossing the minefield!</li>
					<li>Be Careful! If you step on a mine, you'll have to find and defuse it before time runs out!</li>
				</ul>
				<sm><i class="icon-tag"></i> iOS, Games</sm>
		</div>
	</div><!--/.row -->
</div><!--/.container -->

<section id="about" name="about"></section>
<div id="intro">
	<div class="container">
		<div class="row">

			<div class="col-lg-2 col-lg-offset-1">
				<h5>ABOUT</h5>
			</div>

			<div class="col-lg-6">
				<p>I was born and raised in Pontiac, Illinois.  My fascination for computers came at a young age playing my brother's Nintendo.  I graduate Eureka College in December, and I'm excited to explore the software development world first-hand.</p>
			</div>

		</div><!--/.row -->
	</div><!--/.container -->
</div><!--/ #intro -->


<section id="resume" name="resume"></section>
<br>
<!--EDUCATION DESCRIPTION -->
<div class="container desc">
	<div class="row">

		<div class="col-lg-2 col-lg-offset-1">
			<h5>EDUCATION</h5>
		</div>
		<div class="col-lg-6">
			<p><t>BS in Computer Science and Mathematics</t><br/>
				Eureka College <br/>
				<i>4 Year Degree</i>
			</p>
		</div>
		<div class="col-lg-3">
			<p><sm>GRADUATING IN DECEMBER 2014</sm><br/>
				<imp><sm>ALMOST DONE!</sm></imp>
			</p>
		</div>

		<div class="col-lg-6 col-lg-offset-3">
			<p><t>iOS Development Course</t><br/>
				MakeGamesWithUs Summer Academy <br/>
				<i>8 Week Course</i>
			</p>
		</div>
		<div class="col-lg-3">
			<p><sm>AUGUST 2014</sm></p>
		</div>

	</div><!--/.row -->
	<br>
	<hr>
</div><!--/.container -->


<!--EXPERIENCE DESCRIPTION -->
<div class="container desc">
	<div class="row">

		<div class="col-lg-2 col-lg-offset-1">
			<h5>EXPERIENCE</h5>
		</div>
		<div class="col-lg-6">
			<p><t>Interim Web Coordinator / Web Coordinator's Assistant</t><br/>
				Eureka College <br/>
			</p>
			<p><more>Initiated site redesign, managed a team to collect and organize web content from the old website and repurpose it for the new one. Converted over 4,000 pages of content to a much more elegant user experience.  Eased the transition of my replacement, and currently serve as his assistant.</more></p>
		</div>
		<div class="col-lg-3">
			<p><sm>OCTOBER 2012 - CURRENT</sm></p>
		</div>

		<div class="col-lg-6 col-lg-offset-3">
			<p><t>President and Former Treasurer</t><br/>
				Delta Sigma Phi - Zeta Upsilon Chapter<br/>
			</p>
			<p><more>While Treasurer, managed nearly $25,000 chapter budget, ending the year with a surplus.  Organized a 24-Hour Teeter Totter Event for the American Red Cross to raise $4,000+.  Reinvigorated alumni involvement in the chapter, leading to increased donations.  Led a chapter of 25-30 members to their first Chapter of Distinction award from the national level.</more></p>
		</div>
		<div class="col-lg-3">
			<p><sm>JANUARY 2013 - CURRENT</sm></p>
		</div>
	</div><!--/.row -->
	<br>
	<hr>
</div><!--/.container -->


<!--AWARDS DESCRIPTION -->
<div class="container desc">
	<div class="row">
		<div class="col-lg-2 col-lg-offset-1">
			<h5>AWARDS</h5>
		</div>
		<div class="col-lg-6">
			<p><t>MakeGamesWithUs Scholarship</t>
			</p>
			<p><more>Over 3,000 people applied to get into one of 120 seats at the Academy. After being admitted, received $4,000 to attend MakeGamesWithUs Summer Academy.  </more></p>
		</div>
		<div class="col-lg-3">
			<p><sm>2014</sm></p>
		</div>

		<div class="col-lg-6 col-lg-offset-3">
			<p><t>Chapter of Distinction</t><br/>
				Delta Sigma Phi <br/>
			</p>
		</div>
		<div class="col-lg-3">
			<p><sm>2013-2014 ACADEMIC YEAR</sm></p>
		</div>

	</div><!--/.row -->
	<br>
</div><!--/.container -->


<!--SKILLS DESCRIPTION -->
<div id="skillswrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-lg-offset-1">
				<h5>SKILLS</h5>
			</div>
			<div class="col-lg-3 centered">
				<canvas id="ios" height="130" width="130"></canvas>
				<p>iOS Development: Swift/Objective-C</p>
				<br>
				<script>
					var doughnutData = [
					{
						value: 70,
						color:"#1abc9c"
					},
					{
						value : 30,
						color : "#ecf0f1"
					}
					];
					var myDoughnut = new Chart(document.getElementById("ios").getContext("2d")).Doughnut(doughnutData);
				</script>
			</div>
			<div class="col-lg-3 centered">
				<canvas id="bootstrap" height="130" width="130"></canvas>
				<p>Bootstrap</p>
				<br>
				<script>
					var doughnutData = [
					{
						value: 90,
						color:"#1abc9c"
					},
					{
						value : 10,
						color : "#ecf0f1"
					}
					];
					var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
				</script>
			</div>
			<div class="col-lg-3 centered">
				<canvas id="wordpress" height="130" width="130"></canvas>
				<p>Wordpress</p>
				<br>
				<script>
					var doughnutData = [
					{
						value: 65,
						color:"#1abc9c"
					},
					{
						value : 35,
						color : "#ecf0f1"
					}
					];
					var myDoughnut = new Chart(document.getElementById("wordpress").getContext("2d")).Doughnut(doughnutData);
				</script>
			</div>

			<div class="col-lg-3 col-lg-offset-3 centered">
				<canvas id="html" height="130" width="130"></canvas>
				<p>HTML/CSS</p>
				<br>
				<script>
					var doughnutData = [
					{
						value: 80,
						color:"#1abc9c"
					},
					{
						value : 20,
						color : "#ecf0f1"
					}
					];
					var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);
				</script>
			</div>
			<div class="col-lg-3 centered">
				<canvas id="photoshop" height="130" width="130"></canvas>
				<p>Photoshop</p>
				<br>
				<script>
					var doughnutData = [
					{
						value: 60,
						color:"#1abc9c"
					},
					{
						value : 40,
						color : "#ecf0f1"
					}
					];
					var myDoughnut = new Chart(document.getElementById("photoshop").getContext("2d")).Doughnut(doughnutData);
				</script>
			</div>
			<div class="col-lg-3 centered">
				<canvas id="java" height="130" width="130"></canvas>
				<p>Java</p>
				<br>
				<script>
					var doughnutData = [
					{
						value: 60,
						color:"#1abc9c"
					},
					{
						value : 40,
						color : "#ecf0f1"
					}
					];
					var myDoughnut = new Chart(document.getElementById("java").getContext("2d")).Doughnut(doughnutData);
				</script>
			</div>

		</div><!--/.row -->
		<br>
	</div><!--/.container -->
</div><!--/ #skillswrap -->


	{% include footer.html %}

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{{ site.baseurl }}assets/js/bootstrap.js"></script>

</body>

</html>
