---
layout: page
title: Tags
permalink: /tags/
---

<div class="row">
<div class="col-lg-3">
  <h2>Tags</h2>
</div>
<div class="col-lg-9">
  <ul class="tags">
    {% for tag in site.tags %}
    <li style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%">
      <a href="#{{ tag | first | slugize }}">
        {{ tag | first }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
</div>

{% for tag in site.tags %}
<hr>
<div class="row">
<div class="col-lg-3">
  {% capture tag_name %}{{ tag | first }}{% endcapture %}
  <h2 id="{{ tag_name | slugize }}">{{ tag_name }}</h2>
</div>
<div class="col-lg-9">
  {% for post in site.tags[tag_name] %}
  <article>
    <h3><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h3>
  </article>
  {% endfor %}
</div>
</div>
{% endfor %}
