	<section id="contact" name="contact"></section>
	<!--FOOTER DESCRIPTION -->
	<div id="footwrap">
		<div class="container">
			<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>CONTACT</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Got an opportunity? Let me know.</t><br/>
						<a href="mailto: asklouservant@gmail.com">asklouservant@gmail.com</a> <br/>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>SOCIAL LINKS</sm></p>
					<p>
						<a href="https://www.github.com/lservant" target="blank"><i class="icon-github"></i></a>
						<a href="https://twitter.com/LouisServant" target="blank"><i class="icon-twitter"></i></a>
						<a href="https://www.facebook.com/lservant" target="blank"><i class="icon-facebook"></i></a>
						<a href="http://www.linkedin.com/pub/louis-servant/92/3a9/665/" target="blank"><i class="icon-linkedin"></i></a>

					</p>
				</div>
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #footer -->

	<div id="c">
		<div class="container">
			<p>Theme by <a href="http://www.blacktie.co" target="blank">BLACKTIE.CO</a></p>

		</div>
	</div>


	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{{ site.baseurl }}assets/js/bootstrap.js"></script>
